{
    "presets": [
        ["env", {
            "modules": "commonjs",
            "include": ["es6.symbol"]
        }]
    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./src"]
        }]
    ]
}